[submodule "orig/thinkfan"]
	path = orig/thinkfan
	url = https://github.com/vmatare/thinkfan.git
[submodule "orig/code"]
	path = orig/xournal
	url = https://git.code.sf.net/p/xournal/code
[submodule "orig/acpi-call"]
	path = orig/acpi-call
	url = https://github.com/teleshoes/acpi_call.git
[submodule "orig/tpacpi-bat"]
	path = orig/tpacpi-bat
	url = https://github.com/teleshoes/tpacpi-bat
[submodule "orig/tp-trackpoint"]
	path = orig/tp-trackpoint
	url = git@github.com:shuhaowu/tp-trackpoint.git
